@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

svg[fill='currentColor'] path {
  fill: currentColor;
}

@layer base {
  body {
    @apply bg-black text-white;
  }

  h1 {
    @apply text-center font-default text-h1 font-medium;
  }

  h2 {
    @apply font-default text-h2 font-medium;
  }

  h3 {
    @apply font-default text-h3 font-medium;
  }

  p,
  .text-p {
    /*body*/
    @apply font-default text-body text-white;
  }

  span,
  .span {
    /*body2*/
    @apply font-default text-body2 text-white;
  }

  small {
    @apply font-default text-small;
  }
}

@layer components {
  .loader {
    @apply h-4 w-4 shadow-[0_0_2em_currentColor] bg-currentColor relative rounded-full;
    transform: rotateX(-60deg) perspective(1000px);
    @apply after:content-[""] after:block after:absolute after:top-0 after:left-0 after:w-[inherit] after:h-[inherit] after:rounded-full after:animate-loader
     before:content-[""] before:block before:absolute before:top-0 before:left-0 before:w-[inherit] before:h-[inherit] before:rounded-full before:animate-loader;
  }
  .loader:after {
    animation-delay: 0.4s;
  }

  .flex-center {
    @apply flex justify-center items-center flex-col;
  }

  .textfield-bordered {
    @apply placeholder:span focus:ring-transparent block w-full rounded border-[1px] border-darkGray bg-transparent py-2 text-white placeholder:text-gray focus:border-white focus:outline-none;
  }

  .textfield-underlined {
    @apply text-p block w-full appearance-none border-0 border-b-[1px] border-gray bg-transparent py-2.5 px-0 focus:border-white focus:outline-none focus:ring-0;
  }

  .textfield-filled {
    @apply bg-deepBlack duration-[.5s] ring-0 outline-1 outline-none focus:bg-opacity-30 rounded-lg bg-opacity-20 py-1 pl-2;
  }

  .btn-base {
    @apply flex items-center justify-center gap-2 font-default text-body font-medium text-white duration-300 sm:text-base [&>span]:text-currentColor;
  }

  .btn-bordered {
    @apply btn-base h-[54px] rounded-[7px] border-2 border-white transition-all md:h-[46px] sm:h-[36px];
  }

  .container {
    @apply px-5 max-w-[100vw];
  }

  .transition-default {
	@apply transition-all duration-[.25s] ease-linear
  }

  .ticket-section {
  	@apply relative w-full block;
  }

  .ticket-checkbox:checked + label,
  .ticket-checkbox:not(:checked) + label {
	@apply relative w-[150px] inline-block cursor-pointer p-[50px_0] text-center m-[5px] rounded-none bg-transparent overflow-hidden transition-default;
  }

  .ticket-checkbox:checked + label,
  .ticket-checkbox:not(:checked) + label {
	@apply  before:absolute before:top-0 before:left-0 before:w-full before:h-full before:z-[-1] before:block before:bg-gold-gradient;
  }

  .ticket-checkbox:not(:checked) + label {
	@apply after:absolute after:-top-full after:left-full after:w-full after:h-full after:rounded-full after:-z-[1] after:block after:bg-whiteGr after:opacity-[0.4] after:transition-all after:duration-[.25s]
  }

  .ticket-checkbox:checked + label:after {
	@apply absolute top-0 left-0 w-full h-full rounded-none -z-[1] block bg-whiteGr opacity-[.4] transition-default
  }

  .ticket-checkbox:checked + label {
	@apply translate-y-[-10px];
  }

  .ticket-duration {
	@apply font-bold text-body2 leading-[1.2] uppercase text-darkBlue block transition-default;
  }

  .ticket-price {
	@apply font-[900] text-[40px] leading-[1] uppercase text-darkBlue block transition-default;
  }
  .ticket-price sup{
	@apply text-h2 leading-[1] tracking-[4px];
  }

  .ticket-uil {
	@apply text-[30px] leading-[1];

  }

}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .border-transparent-gradient {
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
  }

  .bg-gold-gradient {
	background-image: linear-gradient(335deg, theme("colors.gray"), theme("colors.lightGray"));

  }


}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

:root {
	font-size: 20px;
	--dark-blue: #1f2029;
	--white-gr: #c4c3ca;
	--yellow: #ffeba7;
	--yellow-2: #f8ab37;
}

.color-yellow {
	color: var(--yellow);
}
.size-22 {
	font-size: 22px;
}

.section{
	position: relative;
	width: 100%;
	display: block;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox-ticket:checked + label,
.checkbox-ticket:not(:checked) + label{
	position: relative;
	min-width: 150px;
	width: 100%;
	display: inline-block;
	cursor: pointer;
	padding: 50px 0;
	text-align: center;
	margin: 5px;
	border-radius: 0;
	background-color: transparent;
	overflow: hidden;
	transition: all 250ms linear;
}
.checkbox-ticket:checked + label:before,
.checkbox-ticket:not(:checked) + label:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
}
.checkbox-ticket-Default:checked + label:before,
.checkbox-ticket-Default:not(:checked) + label:before{
	background-image: linear-gradient(335deg, theme("colors.gray"), theme("colors.lightGray"));
}

.checkbox-ticket-Active:checked + label:before,
.checkbox-ticket-Active:not(:checked) + label:before{
	background-image: linear-gradient(335deg, theme("colors.blue"), theme("colors.white"));
}

.checkbox-ticket-Reduced:checked + label:before,
.checkbox-ticket-Reduced:not(:checked) + label:before{
	background-image: linear-gradient(335deg, theme("colors.yellow"), theme("colors.yellow2"));
}

.checkbox-ticket:not(:checked) + label:after{
	content: '';
	position: absolute;
	top: -100%;
	left: 100%;
	width: 100%;
	height: 100%;
	border-radius: 200%;
	z-index: -1;
	display: block;
	background-color: var(--white-gr);
	opacity: 0.4;
	transition: all 250ms linear;
}
.checkbox-ticket:checked + label:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
	z-index: -1;
	display: block;
	background-color: var(--white-gr);
	opacity: 0.4;
	transition: all 250ms linear;
}
.checkbox-ticket:checked + label{
	transform: translateY(-10px);
}
.checkbox-ticket + label .duration{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--dark-blue);
	display: block;
	transition: all 250ms linear;
}
.checkbox-ticket + label .price{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--dark-blue);
	display: block;
	transition: all 250ms linear;
	text-shadow: 1px 2px 4px var(--yellow), 0 0 0 #000, 1px 2px 4px var(--yellow);
}
.checkbox-ticket + label .price sup{
	font-size: 26px;
	line-height: 1;
	letter-spacing: 4px;
}
.checkbox-ticket + label .uil {
	font-size: 30px;
	line-height: 1;
	color: var(--dark-blue);
	display: block;
	transition: all 250ms linear;
}
.checkbox-ticket + label .time {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--dark-blue);
	display: block;
	transition: all 250ms linear;
}
.top-dots,
.bottom-dots {
	position: absolute;
	width: 100%;
	display: block;
	top: 0;
	transform: translateY(-50%);
	z-index: 10;
}
.bottom-dots {
	top: 100%;
}

.dots span {
	position: absolute;
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 50%;
	top: 0;
	transform: translateY(-50%);
	background-color: var(--dark-blue);
}
.dots span:nth-child(1){
	width: 30px;
	height: 30px;
	left: -15px;
}
.dots span:nth-child(2){
	width: 30px;
	height: 30px;
	right: -15px;
}
.dots span:nth-child(3){
	left: 19px;
}
.dots span:nth-child(4){
	left: 29px;
}
.dots span:nth-child(5){
	left: 39px;
}
.dots span:nth-child(6){
	left: 49px;
}
.dots span:nth-child(7){
	left: 59px;
}
.dots span:nth-child(8){
	left: 69px;
}
.dots span:nth-child(9){
	left: 79px;
}
.dots span:nth-child(10){
	left: 89px;
}
.dots span:nth-child(11){
	left: 99px;
}
.dots span:nth-child(12){
	left: 109px;
}
.dots span:nth-child(13){
	left: 119px;
}
.dots span:nth-child(14){
	left: 129px;
}
.dots span:nth-child(15){
	left: 139px;
}
.dots span:nth-child(16){
	left: 149px;
}
.dots span:nth-child(17){
	left: 159px;
}
.dots span:nth-child(18){
	left: 169px;
}
.dots span:nth-child(19){
	left: 179px;
}
.btn{
	border-radius: 4px;
	height: 48px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
    transition: all 200ms linear;
	padding: 0 35px;
	letter-spacing: 0.2px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
	color: var(--dark-blue);
    background-color: var(--yellow);
}
.btn:active,
.btn:focus{
	box-shadow: none;
}
.btn:hover{
	color: var(--yellow);
    background-color: #000;
	box-shadow: 0 6px 20px 0 rgba(255,235,167,0.25);
}

.checkbox-ticket:not(:checked) ~ .btn{
	pointer-events: none;
	opacity: 0.2;
}
.checkbox-ticket:checked ~ .btn{
	pointer-events: auto;
	opacity: 1;
}

